@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import './tailwind.css';
@import './variables.css';

input,
button {
    outline: 0 !important;
}

.transition {
    transition: 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.transition-fast {
    transition: 0.15s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.transition-slow {
    transition: 0.35s cubic-bezier(0.4, 0.0, 0.2, 1);
}